@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

/* Styesheet for Binary Risk Assessment */
:root {
  --color-white: #fff;
  --color-black: #000;

  --color-primary: #3498db;
  --color-secondary: #e74c3c;
  --color-tertiary: #f39c12;
  --color-quaternary: #2c3e50;
  
  --color-green: #2ecc71;
  --color-yellow: #f1c40f;
  --color-red: #e74c3c;
}

/* Base styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-3);
}

.column {
  flex: 1;
  padding: var(--size-4);
}

.column--full {
  flex: 1;
  padding: var(--size-4);
  display: flex;
  flex-direction: row;
  gap: var(--size-3);
}

.column--one {
  flex: 1;
  min-width: 350px;
  padding: var(--size-4);
}

.column--two {
  flex: 1;
  max-width: 350px;
  padding: var(--size-4);
}

.column--center {
  justify-content: center;
}

header {
  background-color: var(--color-quaternary);
  color: var(--color-white);
  padding: 1rem;
  text-align: center;
  display: flex;
}

.btn {
  background-color: var(--color-green);
  border: none;
  border-radius: var(--radius-2);
  color: var(--color-white);
  display: inline-block;
  font-size: var(--font-size-2);
  padding: var(--size-2) var(--size-3);
  text-align: center;
  text-decoration: none;
}
.btn--primary {
  background-color: var(--color-primary);
}
.btn--secondary {
  background-color: var(--color-secondary);
}
.btn--tertiary {
  background-color: var(--color-tertiary);
}

.btn--reset {
  background-color: var(--color-secondary);
}

/* Heading styles */
h1 {
  font-size: var(--font-size-6);
  margin-bottom: 0;
  max-inline-size: unset;
  text-align: center;
  width: 100%;
}
h2 {
  font-size: var(--font-size-5);
  margin-bottom: 1rem;
}


/* Form styles */
label {
  flex-direction: row;
  gap: var(--size-3);
  line-height: 1.2;
  display: flex;
  font-size: var(--font-size-3);
  margin-bottom: 1rem;
}
label[for="project"] {
  align-items: center;
  margin-bottom: 0;
  min-width: max(100%, 100px);
  width: unset;
}

.input__text--wide {
  flex: 1 1 auto;
}

/* Results styles */
#scores {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  gap: var(--size-3);
}

.score__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score {
  padding: var(--size-1) var(--size-2);
  border-radius: 100px;
  margin-left: 0.5rem;
  font-weight: bold;
  min-width: 120px;
  text-align: center;
}

.score--low {
  background-color: var(--color-green);
  color: var(--color-white);
}

.score--medium {
  background-color: var(--color-yellow);
  color: var(--color-white);
}

.score--high {
  background-color: var(--color-red);
  color: var(--color-white);
}


/* Skip nav */
.lowvis {
  position: absolute;
  left: -9999px;
}

.lowvis:focus-within {
  left: 0;
  right: 0;
  text-align: center;
  padding: 1rem;
}

@media print {
  .noprint {
    display: none;
  }
}